.contact-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items vertically */
  }
  
  .contact-card {
    background-color: #e1f0fc;
    margin-bottom: 20px;
    width: 100%; /* Make card full width */
    text-align: center; /* Center text in the card */
  }
  
  .contact-card ion-card-title {
    color: #84addd;
  }
  
  .contact-card ion-card-content {
    font-size: 18px;
    color: #555;
  }
  
  .icon-container {
    display: flex;
    justify-content: center; /* Center icon horizontally */
  }
  
  .icon-animation {
    font-size: 40px;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
  /* Burger menu visibility for mobile */
.burger-icon {
  display: none;
}

.desktop-nav {
  display: flex;
}

@media (max-width: 768px) {
  .burger-icon {
    display: block;
  }

  .desktop-nav {
    display: none;
  }
}
  