ion-content {
  --background: #f4f5f8;
}

.promo-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.promo-card img {
  object-fit: cover;
  height: 200px;
}

ion-card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-description {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
}

.price-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  font-size: 1.1em;
}

.strikethrough {
  text-decoration: line-through;
  color: #888;
}

.discounted-price {
  color: #e74c3c;
  font-weight: bold;
  margin-left: 5px;
}

ion-badge {
  margin-right: 5px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.quantity-controls ion-button {
  --padding-start: 5px;
  --padding-end: 5px;
}

.out-of-stock {
  color: #e74c3c;
  font-weight: bold;
  text-align: center;
}

.compact-card img {
  height: 120px;
  width: 100%;
  object-fit: contain; /* Ensures the image fits within the card without cropping */
  object-position: center; /* Centers the image within the card */
  background-color: #f4f5f8; /* Optional: Adds a background color behind the image */
}


.promo-card {
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  img {
    height: 200px;
    object-fit: cover;
    width: 100%;
  }

  ion-card-header {
    background-color: #ffffff;

    ion-card-subtitle {
      font-weight: bold;
      color: #4a90e2;
    }

    ion-card-title {
      font-size: 1.2rem;
      color: #333333;
    }
  }

  ion-card-content {
    background-color: #ffffff;
    padding: 16px;

    .price-rating {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .price {
      font-size: 1.1rem;
      color: #333;
      font-weight: bold;
    }

    ion-button {
      margin: 16px;
      --color: #4a90e2;
    }
  }
}
/* Burger menu visibility for mobile */
.burger-icon {
  display: none;
}

.desktop-nav {
  display: flex;
}

@media (max-width: 768px) {
  .burger-icon {
    display: block;
  }

  .desktop-nav {
    display: none;
  }
}
.desktop-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
  
  ion-button {
    --color: white;
    font-weight: 500;
    text-transform: none;
    font-size: 16px;
    
    &:hover {
      opacity: 0.8;
    }
  }
}
