.forgot-password-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f4f4f4; /* Light background for contrast */
  
    .card {
      width: 60%; /* Card covers 60% of the screen width */
      padding: 20px;
      border-radius: 12px;
      background-color: white;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      text-align: center;
      align-items: center;
      align-content: center;
      position: absolute;
      right: 18%;
      top: 25%;
  
      h2 {
        color: #84addd; /* Dominant color */
        margin-bottom: 10px;
      }
  
      p {
        color: #555;
        margin-bottom: 20px;
      }
  
      ion-item {
        --highlight-color-focused: #84addd; /* Input highlight color */
        --background: #fff;
      }
  
      ion-button {
        --background: #84addd;
        --background-activated: #63a1c9;
      }
  
      .icon-animation {
        font-size: 50px;
        color: #84addd;
        margin-bottom: 20px;
        animation: bounce 1.5s infinite; /* Icon animation */
      }
  
      @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-20px);
        }
        60% {
          transform: translateY(-10px);
        }
      }
    }
  }
  