<ion-header class="header">
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="forgot-password-content">
  <div class="card">
    <ion-icon name="key-outline" class="icon-animation"></ion-icon>
    <h2>Reset Your Password</h2>
    <p>Enter your email and username to reset your password.</p>
    
    <form (submit)="verifyUser($event)" *ngIf="!showPasswordFields">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
      </ion-item>

      <ion-button expand="block" color="primary" type="submit">
        <ion-icon name="checkmark-outline" slot="start"></ion-icon>
        Verify
      </ion-button>
    </form>

    <form (submit)="resetPassword($event)" *ngIf="showPasswordFields">
      <ion-item>
        <ion-label position="floating">New Password</ion-label>
        <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
      </ion-item>

      <ion-button expand="block" color="primary" type="submit">
        <ion-icon name="save-outline" slot="start"></ion-icon>
        Reset Password
      </ion-button>
    </form>
  </div>
</ion-content>